
@using Web.Models
@{
    ViewBag.Title = "VerActividadesXsocio";
}

<h2>Historal de Actividades</h2>

@(Html.Kendo().Grid<Web.Models.Actividad>()
        .Name("tablaActividades") 
    .Columns(columns =>
    {
        columns.Bound(p => p.nombre);
        columns.Bound(p => p.tipoActividad.nombre);
        columns.Bound(p => p.estado);
        columns.Bound(p => p.fechaInicio).Width(70).Format("{0:dd}/{0:MM}/{0:yyyy}");
        columns.Bound(p => p.fechaFin).Width(70).Format("{0:dd/MM/yyyy}");
        //columns.Command(c => c.Custom("Cancelar").Click("CancelarSocio")).Width(100);                         
        columns.Command(c => c.Custom("Modificar").Click("Modificar").Text("<span class='k-icon k-edit'></span>"));                            
        
    })
    .Selectable()
    .Sortable()
    .Pageable()
    .Editable(editable => { editable.Mode(GridEditMode.InLine); editable.DisplayDeleteConfirmation("El regitro será eliminado ¿Desea continuar?"); })
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
            )
    )
    .DataSource(datasource => datasource
        .Ajax()
        .Events(events => events.Error("MensajeError"))
        .Read(read => read.Action("LeerActividadxSocio", "Actividad",@Model))
        .Model(model => model.Id(p => p.id))
        .PageSize(10)        
    )
)



 <script type="text/javascript">

    function MensajeError(e){
        alert("No se pudo conectar con la base de datos.");
    }
    function Modificar(e) {
        e.preventDefault();
        var grid = $('#tablaActividades').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("RealizarInscripcion")" + "?id=" + id;
    }

  </script>
