@using Web.Models
@{
    ViewBag.Title = "InscribirSocioEnActividad";
}


<h1>Actividades Disponibles para los socios</h1>

<div id="kendotable">
@(Html.Kendo().Grid<Web.Models.Actividad>()
    .Name("tablaActividades") 
    .Columns(columns =>
    {
        columns.Bound(p => p.nombre).Width(50);
        columns.Bound(p => p.descripcion).Width(60);
        columns.Bound(p => p.fechaInicio).Width(60).Format("{0:dd/MM/yyyy}").Title("Fecha Inicio");
        columns.Bound(p => p.fechaFin).Width(55).Format("{0:dd/MM/yyyy}").Title("Fecha Fin");
        columns.Template(p => p.vacantesDisponibles).ClientTemplate("#=vacantesDisponibles#/#=vacantesTotales#").Title("Vacantes").Width(45);
        columns.Bound(p => p.precio).Title("Precio").Width(37);
        columns.Command(c => c.Custom("Inscribir").Click("Registrar")).Width(45);
                 
    })
    .Scrollable()
    .Selectable()
    .Sortable()
    .Pageable()
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
            )
    )
    .DataSource(datasource => datasource
        .Ajax()
        .Events(events => events.Error("MensajeError"))
        .Read(read => read.Action("LeerActividadesDisponibles", "GestionarActividad"))
        .PageSize(10)                                                  
    )                           
)
 </div>


<script type="text/javascript">
    function MensajeError(e){
        alert("No se pudo conectar con la base de datos.");
    }
    function Registrar(e) {
        e.preventDefault();
        var grid = $('#tablaActividades').data('kendoGrid');
        var row = grid.select();
        //alert("Hola");
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
        location = "@Url.Action("InscribirASocio")" + "?id=" + id;
        

    }
  </script>