@{
    ViewBag.Title = "ConsultarHistorialPagosParaEmpleado";
}

<h1>Consultar Historial de Pagos</h1>
<fieldset>
    <form id= "Form1">
    <div id="botones"><input type="button" value= "Pagar"  id="pagar" onclick="Javascript: RegistrarPago()" class="button right"/></div>
</form>
</fieldset>
<div id="kendotable">
@(Html.Kendo().Grid<Web.Models.Pago>()
    .Name("tablaPagos") 
    .Columns(columns =>
    {
        columns.Bound(p => p.idfamilia).Width(70).Title("Familia");
        columns.Bound(p => p.id).Width(60).Title("Pago");
        columns.Bound(p => p.descripcion).Sortable(false).Title("Descripción");
        //columns.Bound(p => p.conceptoDePago.descripcion).Width(120);
        columns.Bound(p => p.fechaRegistro).Width(115).Format("{0:dd/MM/yyyy}").Title("Fecha Registro");
        columns.Bound(p => p.fechaLimite).Width(111).Format("{0:dd/MM/yyyy}").Title("Fecha Limite");
        columns.Bound(p => p.monto).Width(68);
        columns.Bound(p => p.estado).Width(74);
        columns.Bound(p => p.id).Title("").ClientTemplate("# if ((estado == 'Pendiente') || (estado == 'Vencido')) { #" + 
            "<input type=\"checkbox\" \\#= checkquery(id) ? 'checked' :'' \\# class='chkbx5' />" +
                "# } #").Width(30).Sortable(false); 
        //if(Model.precio != 0)
          //      {
            //        columns.Bound(p=>p.precio);
             //   }
        
    
       
                 
    })
    .Selectable()
    .Sortable()
    .Pageable()
    .Scrollable()
    .Filterable(filterable => filterable
                              .Extra(false)
                              .Operators(operators => operators
                                                      .ForString(str => str.Clear()
                                                                           .StartsWith("Empezar con")
                                                                           .IsEqualTo("Es igual a")
                                                                           .IsNotEqualTo("Diferente a"))
                                                      .ForNumber(number => number.Clear()
                                                                                 .IsGreaterThan("Es mayor a")
                                                                                 .IsLessThan("Es menor a")
                                                                                 .IsEqualTo("Es igual a")
                                                                                 .IsNotEqualTo("Es diferente a"))
                                                      )
                )
                .DataSource(datasource => datasource
                                          .Ajax()
                                                  .PageSize(6)
                                                  .Read(read => read.Action("LeerPagosDisponibles", "Finanzas"))
                           )
                           
    )
     
 </div>


<script type="text/javascript">
     var models = new Array();
    function RegistrarPago() {
//        e.preventDefault();
        var grid = $('#tablaPagos').data('kendoGrid');
        grid.tbody
             .find(":checked")
             .closest("tr")
              .each(function () {
                  models.push(grid.dataItem(this).id);
              });
//              var id = document.getElementById("id").value;
//              var descripcion = document.getElementById("descripcion").value;
//              var monto = document.getElementById("monto").value;
               $.ajax({
                        url: '@Url.Action("GenerarComprobanteDePago")',
                        type: 'POST',
                        datatype: "json",
                        traditional: true,
                        data: {
                            pagos: JSON.stringify(models),
//                            strid: JSON.stringify(id),
//                            strdescripcion: JSON.stringify(descripcion),
//                            strmonto: JSON.stringify(monto)
                            
                        },
                         success: function (id) { 
                            models = [];
                            window.alert("Se registró correctamente su Comprobante de Pago N°" + id); 
                            var direccion = "../Finanzas/MostrarComprobanteDePago?id=" + id;
                            window.location.href = direccion;
                        },
//                        error: function (event, request, settings) {
//                            models = [];
//                            window.alert("Ocurrió un error en su transacción");
//                        },
                          error : function (xhr, textStatus, exceptionThrown) {  
                          alert($.parseJSON(xhr.responseText));
                          },
               });
    }
//        var row = grid.select();
//        var dataItem = grid.dataItem(row);
//        var id = dataItem.id;
        //        location = "@Url.Action("RealizarPago")" + "?id=" + id;
//    }
  </script>

