@{
    ViewBag.Title = "ConsultarHistorialPagos";
}

<h1>Historial de Pagos</h1>

<div id="kendotable">
@(Html.Kendo().Grid<Web.Models.Pago>()
    .Name("tablaPagos")
    
    .Columns(columns =>
    {
        columns.Bound(p => p.id).Width(69).Sortable(true).Title("Id Pago");
        columns.Bound(p => p.descripcion).Width(270).Title("Descripción");
        //columns.Bound(p => p.conceptoDePago.descripcion);
        columns.Bound(p => p.fechaRegistro).Width(110).Format("{0:dd/MM/yyyy}").Title("Fecha Registro");
        columns.Bound(p => p.fechaLimite).Width(100).Format("{0:dd/MM/yyyy}").Title("Fecha Limite");
        columns.Bound(p => p.monto).Width(70).Sortable(true);
        columns.Bound(p => p.estado).Width(80).Sortable(true);
        //if(Model.precio != 0)
          //      {
            //        columns.Bound(p=>p.precio);
             //   }
        
        //RECUERDAAAA!! Aca falta hacer el codigo de lo que debe hacer cuando de click en Pagar
        //o sea cambiar la funcion "Registrar" en este caso
        //columns.Command(c => c.Custom("Pagar").Click("Registrar"));
                 
    })
    .Selectable()
    .Pageable()
    .Scrollable()
    .Filterable(filterable => filterable
                              .Extra(false)
                              .Operators(operators => operators
                                                      .ForString(str => str.Clear()
                                                                           .StartsWith("Empezar con")
                                                                           .IsEqualTo("Es igual a")
                                                                           .IsNotEqualTo("Diferente a"))
                                                      .ForNumber(number => number.Clear()
                                                                                 .IsGreaterThan("Es mayor a")
                                                                                 .IsLessThan("Es menor a")
                                                                                 .IsEqualTo("Es igual a")
                                                                                 .IsNotEqualTo("Es diferente a"))
                                                      )
                )
                .DataSource(datasource => datasource
                                          .Ajax()
                                                .PageSize(6)
                                                  .Read(read => read.Action("LeerPagosDisponibles", "PaginaPersonal"))
                           )
                           
    )
 </div>


<script type="text/javascript">
    function Registrar(e) {
        e.preventDefault();
        var grid = $('#tablaPagos').data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var id = dataItem.id;
//        location = "@Url.Action("RealizarPago")" + "?id=" + id;
    }
  </script>
