@model IEnumerable<Web.Models.Sorteo>
@using Web.Models
@{
    ViewBag.Title = "Ver Sorteos";
}

<h2>Ver Sorteos</h2>

<fieldset>
<legend>Sorteo A Realizar</legend>

 <div id="botones"> 
            @if (Model == null)
            {
                
            }
            @if(Model != null)
            {                             
            <input type="button" value="Sortear" id="Nuevo" onclick="location.href = '@(Url.Action("Sortear", "RealizarSorteo"))'" />
            }
     </div>
</fieldset>


<div id="kendotable">
@(Html.Kendo().Grid<Web.Models.Sorteo>()
    .Name("Grid")
    .Columns(columns =>
    {

        columns.Bound(p => p.FechaSorteo).Format("{0:dd/MM/yyyy}").Title("Fecha Sorteo");
        columns.Bound(p => p.sede.nombre);
        columns.Bound(p => p.tipoBungalow.nombre).Title("Tipo de Bungalow");

    })
    .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear()
                    .Contains("Contiene")
                    .StartsWith("Empezar con")
                    .IsEqualTo("Es igual a")
                    .IsNotEqualTo("Diferente a"))
                .ForNumber(number => number.Clear()
                    .IsGreaterThan("Es mayor a")
                    .IsLessThan("Es menor a")
                    .IsEqualTo("Es igual a")
                    .IsNotEqualTo("Es diferente a")))
                )
                .Pageable()
                .DataSource(datasource => datasource
                                          .Ajax()                                        
                                          .Read(read => read.Action("LeerSorteos", "RealizarSorteo"))                                          
                                          )
                                          .Selectable()
                      )
                  ) 
    </div>
    


