@model Web.Models.Familia
@using Web.Models
@{
    ViewBag.Title = "Consultar información de familia";
}

<h1>@ViewBag.Title</h1>

<div id="kendo-table">
    @(Html.Kendo().Grid<Web.Models.Socio>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Template(p => p.familia.id).ClientTemplate("#=familia.id#");
            columns.Bound(p => p.familia.usuario.nomUsuario);
            columns.Bound(p => p.familia.tipo);
            columns.Bound(p => p.persona.nombre);
            //columns.Bound(p => p.persona.id);
            columns.Bound(p => p.familia.saldo);
        }
        )
        .Selectable()
        .Pageable()
        .Sortable()
        .Filterable(filterable => filterable
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .Contains("Contiene")
                .StartsWith("Empezar con")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Diferente a"))
            .ForNumber(number => number.Clear()
                .IsGreaterThan("Es mayor a")
                .IsLessThan("Es menor a")
                .IsEqualTo("Es igual a")
                .IsNotEqualTo("Es diferente a"))
        ))
        .ClientDetailTemplateId("template")
        .DataSource(d => d.Ajax()
            .Read(r => r.Action("leerSociosTitulares", "Membresia"))
            .Events(events => events.Error("ErrorMessage"))
            .Model(m => m.Id(p => p.persona.id))
        )

    ) 
</div>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<Web.Models.Socio>()
            .Name("grid_#=id#")
            .Columns(columns =>
            {
                columns.Bound(o => o.persona.id);
                columns.Bound(o => o.persona.nombre);
                columns.Template(o => o.persona.id).ClientTemplate("<input type='button' id='button_#persona.id#' value='Modificar' onclick=\"EditarSocio(#=id#)\"/>");
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(5)
                .Read(read => read.Action("LeerSocios", "Membresia", new { id = "#=familia.id#" }))
                .Model(m => m.Id(p => p.persona.id))
            )
            //.Events(e => e.Change("Modificar()"))
            .Selectable()
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>


<script type="text/javascript">
    function ErrorMessage(e) {
        alert("A ocurrido un error en el servidor!\nVuelva a intentar la operación en unos minutos...");
    }
    function EditarSocio(id) {
        var nombre = '#grid_' + id
        var grid = $(nombre).data('kendoGrid');
        var row = grid.select();
        var dataItem = grid.dataItem(row);
        var sid = dataItem.persona.id;
        alert("Id = " + sid);
        location = "@Url.Action("Editar")" + "?persona.id=" + sid;
    }
</script>