
*
{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

a
{
    color: #507030;
    text-decoration: none;
}

body
{
    background: #FFFFFF;
    color: #507030;
}

h1
{
    font-size: 20px;
    font-weight: bold;
    font-family: Times New Roman;
    padding-left: 5px;
}

h2
{
    font-size: 16px;
    font-weight: bold;
    font-family: Times New Roman;
    padding: 10px 0 5px 5px;
}

hr
{
    background-color: #507030;
    height: 1px;
    border: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

fieldset
{
    border: 1px solid #507030;
    padding: 15px 15px 15px 15px;
}

form
{
}

form label
{
    display: block;
    width: 165px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

form ul.col-one label
{
    width: 104px;
}

label:after
{
    content: " :";
}

form ul
{
    list-style: none;
}

form ul li
{
    display: inline-block;
    width: 339px;
    padding-bottom: 5px;
}

ul.col-one
{
    width: 278px;
}

form ul.col-one li
{
    width: 278px;
}

ul.col-two
{
    width: 400px;
}

form ul.col-two li
{
    width: 400px;
}

form ul li.center
{
    width: 434px;
    margin-left: 94px;
}

form ul li.long
{
    width: 678px;
}

input[type="button"], input[type="submit"]
{
    border: 0px;
    background: #608840;
    color: #FFFFFF;
    padding-bottom: 2px;
    padding-top: 2px;
    min-width: 90px;
    height: 20px;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover
{
    background: #507030;
    cursor: pointer;
}

input[type="text"], input[type="password"]
{
    width: 150px;
    color: #507030;
}

input[type="text"][readonly="readonly"], input[type="text"][readonly="readonly"]
{
    background-color: #BBDDBB;
}

legend
{
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

tbody
{
    background-color: #FFFFFF;
}

#botones
{
    float: right;
    clear: both;
}

#botones-center
{
    margin-left: 324px;
}

#footer
{
    padding-top: 20px;
}

#footer ul li
{
    display: inline-block;
    width: 390px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-family: Calibri;
    font-size: 14px;
}

#footer ul li.footer-left
{
    padding-left: 10px;
}


#footer ul li.footer-right
{
    text-align: right;
    padding-right: 10px;
}

#Grid
{
    background-color: transparent;
}

#header
{
    width: 800px;
    height: 120px;
    background: #90C068;
}

#kendotable
{
    margin-top: 15px;
    max-width: 710px;
    overflow-x: auto;
}

#logo
{
    padding: 15px 0 0 15px;
}

#menubar
{
    width: 800px;
    height: 26px;
    background: transparent;
    margin-top: -26px;
}

#menubar a
{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Calibri;
}

#menubar ul
{
    list-style: none;
}

#menubar ul li
{
    display: inline-block;
    background: #608840;
    width: 130px;
    text-align: center;
    padding-bottom: 7px;
}

#menubar ul li:hover
{
    background: #507030;
}

#menubar ul li.main
{
    border-top-right-radius: 10px;
}

#menubar ul li.logout
{
    border-top-left-radius: 10px;
    margin-left: 540px;
}

#page
{
    padding: 15px 45px 0 45px;
    min-height: 360px;
}

#page a:link
{
    font-weight: bold;
}

#page a:hover
{
    text-decoration: underline;
}

#Grid a:link, #Grid a:hover
{
    font-weight: normal;
    text-decoration: none;
}

#validacion, label.error
{
    color: #A02000;
    font-size: 10px;
    width: 339px;
    position: relative;
    left: 170px;
    text-align: left;
}

#validationSummary
{
    color: #FF2200;
    font-size: 12px;
}

#wrapper
{
    position: relative;
    width: 800px;
    background: #D0E094;
    margin: 0 auto 0 auto;
}

.editor-label > label:after
{
    content : " :";
}

.k-filter-menu li.k-item
{
    width: inherit;
}

.k-multiselect, .k-combobox, .k-dropdown
{
    margin-left: 170px;
    margin-right: 20px;
}

ul.col-one .k-multiselect, ul.col-one .k-combobox, ul.col-one .k-dropdown
{
    margin-left: 109px;
}

.k-multiselect, .k-combobox, .k-dropdown, .k-timepicker, .k-datepicker
{
    font-size: 13px;
}

.k-multiselect
{
    width: auto;
    font-family: Times New Roman;
}

.k-combobox, .k-dropdown
{
    width: 170px;
}

.k-multiselect li
{
    width: auto;
}